*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.pub
id_ed25519_tinh0804.pub
id_ed25519_tinh0804
*.apk
*.ap_
*.keystore
*.jks
*.log
*.tmp
*.pub