<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Network Permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Storage Permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Audio Permissions -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- System Permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- Camera Permission (for profile picture) -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Foreground Service Permission (API 28+) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mascot"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearningLanguageApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activities.ProfileFriend"
            android:exported="false" />
        <activity
            android:name=".activities.MatchGameActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MatchingGameActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AccountPersonal"
            android:exported="false" />
        <activity
            android:name=".activities.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PaymentActivity"
            android:exported="false" />
        <activity android:name=".activities.WebViewActivity"
            android:exported="true"
            android:hardwareAccelerated="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="myapp"
                    android:host="payment_success"
                    android:pathPrefix="/payment_success"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ShopActivity"
            android:exported="false"
            android:theme="@style/Theme.LearningLanguageApp" >

        </activity>
        <activity
            android:name=".activities.SelectImageGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GameWordropActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LessonActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LearningLanguageApp.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".activities.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Welcome2Activity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LanguageUse"
            android:exported="false"/>
        <activity
            android:name=".activities.LanguageLearn"
            android:exported="false"/>
        <activity
            android:name=".activities.LevelActivity"
            android:exported="false"/>
        <activity
            android:name=".activities.StudyTimeActivity"
            android:exported="false"/>



        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" >

        </activity> <!-- Main Activity -->
        <activity
            android:name=".activities.MainActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            tools:ignore="MissingClass" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="false"
            tools:ignore="MissingClass"
            tools:replace="android:exported" />
<!--        <activity-->
<!--            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"-->
<!--            android:excludeFromRecents="true"-->
<!--            android:exported="false"-->
<!--            android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

<!--        <service-->
<!--            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"-->
<!--            android:exported="true"-->
<!--            android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_BOUND_SERVICE"-->
<!--            tools:replace="android:permission" />-->

<!--        <provider-->
<!--            android:name="androidx.core.content.FileProvider"-->
<!--            android:authorities="${applicationId}.fileprovider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/file_paths" />-->
<!--        </provider> &lt;!&ndash; Firebase App Check (Security) &ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="firebase_analytics_collection_enabled"-->
<!--            android:value="true" />-->
<!--        <meta-data-->
<!--            android:name="firebase_crashlytics_collection_enabled"-->
<!--            android:value="true" />-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>